---
title: Danger JavaScript and Danger Ruby 
subtitle: About this Site
layout: layout_js
---

section.guide 
  article

    markdown: 
      # Tale of Two Dangers

      Danger has been in [the works](https://github.com/artsy/mobile/issues/31) since 2015, in that time there's been two complete implementations of the idea. Why? Well that's a question answered in the blog post on the [Artsy blog here](https://artsy.github.io/blog/2017/06/30/danger-one-oh-again/).

      It's understandable if you are not in a Ruby or JavaScript context it can be a bit hard to decide which version of Danger you should use. Therefore this document is a high-level overview of the differences between the two.

  div.wide-row-thin-col
    article style='flex:1; padding: 20px;'
      center
        a href="/ruby"
          img src="/images/danger_logo_black@2x.png" style="width:80%;"

      markdown:

        Danger on Ruby is more mature, has more features, a solid plugin eco-system and covers more platforms. It supports Ruby 2.0 and above, and will likely work on any CI setup without additional work. For a lot of projects this is the right option.
        
        The project is on version 5.x with about a hundred releases, that's a lot of battle testing. I consider it in a great place and is unlikely to have breaking changes from this point onwards. The GitHub issues to number of downloads is really healthy too.

        I have no intention of ever deprecating Danger Ruby.

        [Get started with Danger on Ruby](/guides/getting_started.html).

    article style='flex:1;  padding: 20px;'
      center
        a href="/js"
          img src="/images/js/danger-logo-hero@2x.png" style="width:60%; margin-top:10px;margin-bottom:11px"

      markdown:
        
        Danger JavaScript has a bigger potential for growth. It is "stable enough", well, as much as you can be in the node ecosystem.
        
        You can create plugins today, and is doing a bunch of things the Ruby version cannot. Danger JavaScript has everything you probably need right now, though it only works with GitHub. If you're working in a node environment this is definitely the right choice. FWIW, I find it easier to work with JavaScript Dangerfiles because they have TypeScript annotations.

        Using Danger JS now will make it easier to move to [Peril](https://github.com/danger/peril#peril) the server version of Danger, which gives you the ability to skip running Danger on CI, and instead have that feedback instantly.

        [Get started with Danger on JavaScript](/js/guides/getting_started.html).

section.guide 
  article

    markdown: 
      You may notice that there was a Swift logo in the [index page](/), Swift is the first langauge supported by [Danger JS's process environment](/js/usage/danger-process.html). Once a new language has been built out, and is stable, then I'll be building out some documentation in this site.
